@import url(https://fonts.googleapis.com/css2?family=Itim&family=Playwrite+DE+Grund:wght@100..400&family=Podkova:wght@400..800&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(resources/Screenshot.png);
    background-size: cover;
    background-position:center;
}

.container {
    border-radius: 20px;
    padding: 50px;
    background-color:#dfdfdfc5 ;
}

.headtopic {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 22pt;
    font-family: Itim;
}

.input-box {
    margin: 8px;
}

.head {
    font-size: 15pt;
}

.input-box input {
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
    padding: 10px;
}

.input-box select {
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
}

.input-box button {
    border-radius: 5px;
    border: 1px solid;
    height: 35px;
    width: 50px;
    margin-top: 10px;
    float: right;
    background-color: #331d0ec5;
    color: aliceblue;
    font-size: 12pt;
}

.choice {
    font-size: 15pt;
}